.custom-button {
	min-width: 165px;
	width: auto;
	height: 50px;
	letter-spacing: 0.5px;
	line-height: 50px;
	padding: 0 25px 0 25px;
	font-size: 15px;
	background-color: black;
	color: white;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	border: 1px solid black;
	cursor: pointer;
	display: flex;
	justify-content: center;

	&:hover {
		background-color: white;
		color: black;
	}

	&.google-sign-in {
		background-color: #4285f4;
		color: white;
		border: 1px solid #4285f4;

		&:hover {
			background-color: #357ae8;
		}
	}

	&.inverted {
		background-color: white;
		color: black;
		border: 1px solid black;

		&:hover {
			background-color: black;
			color: white;
			border: none;
		}
	}
}
