* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: auto;
	min-height: 100%;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 20px 40px;
	margin: 0 auto;
	overflow-x: hidden;
}

a {
	color: black;
	text-decoration: none;
}
